src/conf/xml-resources/web-service-references/InterconectaWs/wsdl/cmm.from-la.net_8080/CMM/InterconectaWs.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><xs:schema xmlns:tns="http://ws.interconecta.tsp.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://ws.interconecta.tsp.com/">

<xs:element name="cancelaCFDI" type="tns:cancelaCFDI" />

<xs:element name="cancelaCFDI32" type="tns:cancelaCFDI32" />

<xs:element name="cancelaCFDI32Response" type="tns:cancelaCFDI32Response" />

<xs:element name="cancelaCFDIResponse" type="tns:cancelaCFDIResponse" />

<xs:element name="cancelaCFDIRetenciones" type="tns:cancelaCFDIRetenciones" />

<xs:element name="cancelaCFDIRetencionesResponse" type="tns:cancelaCFDIRetencionesResponse" />

<xs:element name="cancelaCFDISectorPrimario" type="tns:cancelaCFDISectorPrimario" />

<xs:element name="cancelaCFDISectorPrimarioResponse" type="tns:cancelaCFDISectorPrimarioResponse" />

<xs:element name="cancelaCFDIxp" type="tns:cancelaCFDIxp" />

<xs:element name="cancelaCFDIxpResponse" type="tns:cancelaCFDIxpResponse" />

<xs:element name="otorgarAccesoContribuyente" type="tns:otorgarAccesoContribuyente" />

<xs:element name="otorgarAccesoContribuyenteResponse" type="tns:otorgarAccesoContribuyenteResponse" />

<xs:element name="sellaTimbraCFDI" type="tns:sellaTimbraCFDI" />

<xs:element name="sellaTimbraCFDIResponse" type="tns:sellaTimbraCFDIResponse" />

<xs:element name="timbraEnviaCFDI" type="tns:timbraEnviaCFDI" />

<xs:element name="timbraEnviaCFDIBytes" type="tns:timbraEnviaCFDIBytes" />

<xs:element name="timbraEnviaCFDIBytes22" type="tns:timbraEnviaCFDIBytes22" />

<xs:element name="timbraEnviaCFDIBytes22Response" type="tns:timbraEnviaCFDIBytes22Response" />

<xs:element name="timbraEnviaCFDIBytesResponse" type="tns:timbraEnviaCFDIBytesResponse" />

<xs:element name="timbraEnviaCFDIBytesSPrimario" type="tns:timbraEnviaCFDIBytesSPrimario" />

<xs:element name="timbraEnviaCFDIBytesSPrimarioResponse" type="tns:timbraEnviaCFDIBytesSPrimarioResponse" />

<xs:element name="timbraEnviaCFDIReexpide" type="tns:timbraEnviaCFDIReexpide" />

<xs:element name="timbraEnviaCFDIReexpideResponse" type="tns:timbraEnviaCFDIReexpideResponse" />

<xs:element name="timbraEnviaCFDIResponse" type="tns:timbraEnviaCFDIResponse" />

<xs:element name="timbraEnviaCFDIxp" type="tns:timbraEnviaCFDIxp" />

<xs:element name="timbraEnviaCFDIxpResponse" type="tns:timbraEnviaCFDIxpResponse" />

<xs:element name="timbraEnviaRetenciones" type="tns:timbraEnviaRetenciones" />

<xs:element name="timbraEnviaRetencionesResponse" type="tns:timbraEnviaRetencionesResponse" />

<xs:element name="validaComprobante" type="tns:validaComprobante" />

<xs:element name="validaComprobanteResponse" type="tns:validaComprobanteResponse" />

<xs:element name="verificarLogin" type="tns:verificarLogin" />

<xs:element name="verificarLoginResponse" type="tns:verificarLoginResponse" />

<xs:complexType name="cancelaCFDIRetenciones">
<xs:sequence>
<xs:element name="user" type="xs:string" minOccurs="0" />
<xs:element name="userPassword" type="xs:string" minOccurs="0" />
<xs:element name="certificadoEmisor" type="xs:base64Binary" nillable="true" minOccurs="0" />
<xs:element name="llavePrivadaEmisor" type="xs:base64Binary" nillable="true" minOccurs="0" />
<xs:element name="llavePrivadaEmisorPassword" type="xs:string" minOccurs="0" />
<xs:element name="xmlCFDI" type="xs:string" minOccurs="0" />
<xs:element name="versionCFDI" type="xs:string" minOccurs="0" />
<xs:element name="xmlPeticionCancelacionSellada" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="cancelaCFDIRetencionesResponse">
<xs:sequence>
<xs:element name="return" type="tns:wsGenericResp" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="wsGenericResp">
<xs:sequence>
<xs:element name="acuse" type="xs:base64Binary" minOccurs="0" />
<xs:element name="arrayFoliosCancelacion" type="tns:wsArregloCancelacion" minOccurs="0" />
<xs:element name="cadenaOriginal" type="xs:string" minOccurs="0" />
<xs:element name="errorMessage" type="xs:string" minOccurs="0" />
<xs:element name="fechaHoraTimbrado" type="xs:dateTime" minOccurs="0" />
<xs:element name="folioCodCancelacion" type="xs:string" minOccurs="0" />
<xs:element name="folioUUID" type="xs:string" minOccurs="0" />
<xs:element name="isError" type="xs:boolean" minOccurs="0" />
<xs:element name="numError" type="xs:int" />
<xs:element name="selloDigitalEmisor" type="xs:string" minOccurs="0" />
<xs:element name="selloDigitalTimbreSAT" type="xs:string" minOccurs="0" />
<xs:element name="XML" type="xs:base64Binary" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="wsArregloCancelacion">
<xs:sequence>
<xs:element name="arreglo" type="tns:wsItemCancelacion" nillable="true" minOccurs="0" maxOccurs="unbounded" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="wsItemCancelacion">
<xs:sequence>
<xs:element name="estatus" type="xs:int" />
<xs:element name="UUID" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="timbraEnviaCFDIBytes">
<xs:sequence>
<xs:element name="user" type="xs:string" minOccurs="0" />
<xs:element name="userPassword" type="xs:string" minOccurs="0" />
<xs:element name="certificadoEmisor" type="xs:base64Binary" nillable="true" minOccurs="0" />
<xs:element name="llavePrivadaEmisor" type="xs:base64Binary" nillable="true" minOccurs="0" />
<xs:element name="llavePrivadaEmisorPassword" type="xs:string" minOccurs="0" />
<xs:element name="bytesXmlCFDI" type="xs:base64Binary" nillable="true" minOccurs="0" />
<xs:element name="versionCFDI" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="timbraEnviaCFDIBytesResponse">
<xs:sequence>
<xs:element name="return" type="tns:wsGenericResp" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="sellaTimbraCFDI">
<xs:sequence>
<xs:element name="user" type="xs:string" minOccurs="0" />
<xs:element name="userPassword" type="xs:string" minOccurs="0" />
<xs:element name="certificadoEmisor" type="xs:base64Binary" nillable="true" minOccurs="0" />
<xs:element name="llavePrivadaEmisor" type="xs:base64Binary" nillable="true" minOccurs="0" />
<xs:element name="llavePrivadaEmisorPassword" type="xs:string" minOccurs="0" />
<xs:element name="xmlCFDI" type="xs:string" minOccurs="0" />
<xs:element name="versionCFDI" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="sellaTimbraCFDIResponse">
<xs:sequence>
<xs:element name="return" type="tns:wsGenericResp" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="validaComprobante">
<xs:sequence>
<xs:element name="user" type="xs:string" minOccurs="0" />
<xs:element name="userPassword" type="xs:string" minOccurs="0" />
<xs:element name="xmlComprobante" type="xs:string" minOccurs="0" />
<xs:element name="bytesXmlComprobante" type="xs:base64Binary" nillable="true" minOccurs="0" />
<xs:element name="versionComprobante" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="validaComprobanteResponse">
<xs:sequence>
<xs:element name="return" type="tns:wsValidaResp" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="wsValidaResp">
<xs:sequence>
<xs:element name="cadenaOriginalComprobante" type="xs:string" minOccurs="0" />
<xs:element name="comprobanteValido" type="xs:boolean" minOccurs="0" />
<xs:element name="errorMessage" type="xs:string" minOccurs="0" />
<xs:element name="isError" type="xs:boolean" minOccurs="0" />
<xs:element name="listaAdvertencias" type="tns:wsInformaValidacion" nillable="true" minOccurs="0" maxOccurs="unbounded" />
<xs:element name="listaErrores" type="tns:wsInformaValidacion" nillable="true" minOccurs="0" maxOccurs="unbounded" />
<xs:element name="listaInformacion" type="tns:wsInformaValidacion" nillable="true" minOccurs="0" maxOccurs="unbounded" />
<xs:element name="numError" type="xs:int" />
<xs:element name="selloEmisorValido" type="xs:boolean" minOccurs="0" />
<xs:element name="timbreFiscalDigital" type="xs:string" minOccurs="0" />
<xs:element name="tipoComprobante" type="xs:string" minOccurs="0" />
<xs:element name="versionComprobante" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="wsInformaValidacion">
<xs:sequence>
<xs:element name="codigo" type="xs:int" />
<xs:element name="nombre" type="xs:string" minOccurs="0" />
<xs:element name="valor" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="timbraEnviaCFDI">
<xs:sequence>
<xs:element name="user" type="xs:string" minOccurs="0" />
<xs:element name="userPassword" type="xs:string" minOccurs="0" />
<xs:element name="certificadoEmisor" type="xs:base64Binary" nillable="true" minOccurs="0" />
<xs:element name="llavePrivadaEmisor" type="xs:base64Binary" nillable="true" minOccurs="0" />
<xs:element name="llavePrivadaEmisorPassword" type="xs:string" minOccurs="0" />
<xs:element name="xmlCFDI" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="timbraEnviaCFDIResponse">
<xs:sequence>
<xs:element name="return" type="tns:wsGenericResp" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="timbraEnviaCFDIxp">
<xs:sequence>
<xs:element name="user" type="xs:string" minOccurs="0" />
<xs:element name="userPassword" type="xs:string" minOccurs="0" />
<xs:element name="certificadoEmisor" type="xs:base64Binary" nillable="true" minOccurs="0" />
<xs:element name="llavePrivadaEmisor" type="xs:base64Binary" nillable="true" minOccurs="0" />
<xs:element name="llavePrivadaEmisorPassword" type="xs:string" minOccurs="0" />
<xs:element name="xmlCFDI" type="xs:string" minOccurs="0" />
<xs:element name="versionCFDI" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="timbraEnviaCFDIxpResponse">
<xs:sequence>
<xs:element name="return" type="tns:wsGenericResp" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="timbraEnviaCFDIReexpide">
<xs:sequence>
<xs:element name="user" type="xs:string" minOccurs="0" />
<xs:element name="userPassword" type="xs:string" minOccurs="0" />
<xs:element name="certificadoEmisor" type="xs:base64Binary" nillable="true" minOccurs="0" />
<xs:element name="llavePrivadaEmisor" type="xs:base64Binary" nillable="true" minOccurs="0" />
<xs:element name="llavePrivadaEmisorPassword" type="xs:string" minOccurs="0" />
<xs:element name="xmlCFDI" type="xs:string" minOccurs="0" />
<xs:element name="versionCFDI" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="timbraEnviaCFDIReexpideResponse">
<xs:sequence>
<xs:element name="return" type="tns:wsGenericRespExt" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="wsGenericRespExt">
<xs:sequence>
<xs:element name="acuse" type="xs:base64Binary" minOccurs="0" />
<xs:element name="arrayFoliosCancelacion" type="tns:wsArregloCancelacion" minOccurs="0" />
<xs:element name="cadenaOriginal" type="xs:string" minOccurs="0" />
<xs:element name="errorMessage" type="xs:string" minOccurs="0" />
<xs:element name="fechaHoraTimbrado" type="xs:dateTime" minOccurs="0" />
<xs:element name="folioCodCancelacion" type="xs:string" minOccurs="0" />
<xs:element name="folioUUID" type="xs:string" minOccurs="0" />
<xs:element name="isError" type="xs:boolean" minOccurs="0" />
<xs:element name="numError" type="xs:int" />
<xs:element name="selloDigitalEmisor" type="xs:string" minOccurs="0" />
<xs:element name="selloDigitalTimbreSAT" type="xs:string" minOccurs="0" />
<xs:element name="timbreFiscalDigital" type="xs:string" minOccurs="0" />
<xs:element name="XML" type="xs:base64Binary" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="otorgarAccesoContribuyente">
<xs:sequence>
<xs:element name="user" type="xs:string" minOccurs="0" />
<xs:element name="userPassword" type="xs:string" minOccurs="0" />
<xs:element name="contribuyenteRFC" type="xs:string" minOccurs="0" />
<xs:element name="contribuyenteRazonSocial" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="otorgarAccesoContribuyenteResponse">
<xs:sequence>
<xs:element name="return" type="tns:wsInsertaClienteResp" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="wsInsertaClienteResp">
<xs:sequence>
<xs:element name="errorMessage" type="xs:string" minOccurs="0" />
<xs:element name="isError" type="xs:boolean" minOccurs="0" />
<xs:element name="numError" type="xs:int" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="verificarLogin">
<xs:sequence>
<xs:element name="user" type="xs:string" minOccurs="0" />
<xs:element name="userPassword" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="verificarLoginResponse">
<xs:sequence>
<xs:element name="return" type="xs:int" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="cancelaCFDISectorPrimario">
<xs:sequence>
<xs:element name="user" type="xs:string" minOccurs="0" />
<xs:element name="userPassword" type="xs:string" minOccurs="0" />
<xs:element name="certificadoEmisor" type="xs:base64Binary" nillable="true" minOccurs="0" />
<xs:element name="llavePrivadaEmisor" type="xs:base64Binary" nillable="true" minOccurs="0" />
<xs:element name="llavePrivadaEmisorPassword" type="xs:string" minOccurs="0" />
<xs:element name="bytesXmlComprobante" type="xs:base64Binary" nillable="true" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="cancelaCFDISectorPrimarioResponse">
<xs:sequence>
<xs:element name="return" type="tns:wsGenericResp" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="cancelaCFDI">
<xs:sequence>
<xs:element name="user" type="xs:string" minOccurs="0" />
<xs:element name="userPassword" type="xs:string" minOccurs="0" />
<xs:element name="certificadoEmisor" type="xs:base64Binary" nillable="true" minOccurs="0" />
<xs:element name="llavePrivadaEmisor" type="xs:base64Binary" nillable="true" minOccurs="0" />
<xs:element name="llavePrivadaEmisorPassword" type="xs:string" minOccurs="0" />
<xs:element name="xmlCFDI" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="cancelaCFDIResponse">
<xs:sequence>
<xs:element name="return" type="tns:wsGenericResp" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="cancelaCFDIxp">
<xs:sequence>
<xs:element name="user" type="xs:string" minOccurs="0" />
<xs:element name="userPassword" type="xs:string" minOccurs="0" />
<xs:element name="xmlPeticionCancelacionSellada" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="cancelaCFDIxpResponse">
<xs:sequence>
<xs:element name="return" type="tns:wsGenericResp" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="cancelaCFDI32">
<xs:sequence>
<xs:element name="user" type="xs:string" minOccurs="0" />
<xs:element name="userPassword" type="xs:string" minOccurs="0" />
<xs:element name="certificadoEmisor" type="xs:base64Binary" nillable="true" minOccurs="0" />
<xs:element name="llavePrivadaEmisor" type="xs:base64Binary" nillable="true" minOccurs="0" />
<xs:element name="llavePrivadaEmisorPassword" type="xs:string" minOccurs="0" />
<xs:element name="xmlCFDI" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="cancelaCFDI32Response">
<xs:sequence>
<xs:element name="return" type="tns:wsGenericResp" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="timbraEnviaRetenciones">
<xs:sequence>
<xs:element name="user" type="xs:string" minOccurs="0" />
<xs:element name="userPassword" type="xs:string" minOccurs="0" />
<xs:element name="certificadoEmisor" type="xs:base64Binary" nillable="true" minOccurs="0" />
<xs:element name="llavePrivadaEmisor" type="xs:base64Binary" nillable="true" minOccurs="0" />
<xs:element name="llavePrivadaEmisorPassword" type="xs:string" minOccurs="0" />
<xs:element name="cadenaXmlCFDI" type="xs:string" minOccurs="0" />
<xs:element name="bytesXmlCFDI" type="xs:base64Binary" nillable="true" minOccurs="0" />
<xs:element name="controlRetimbrado" type="xs:boolean" />
<xs:element name="requiereSelladoEmisor" type="xs:boolean" />
<xs:element name="versionCFDI" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="timbraEnviaRetencionesResponse">
<xs:sequence>
<xs:element name="return" type="tns:wsGenericRespExt" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="timbraEnviaCFDIBytesSPrimario">
<xs:sequence>
<xs:element name="user" type="xs:string" minOccurs="0" />
<xs:element name="userPassword" type="xs:string" minOccurs="0" />
<xs:element name="certificadoSPrimario" type="xs:base64Binary" nillable="true" minOccurs="0" />
<xs:element name="llavePrivadaSPrimario" type="xs:base64Binary" nillable="true" minOccurs="0" />
<xs:element name="llavePrivadaPassword" type="xs:string" minOccurs="0" />
<xs:element name="bytesXmlCFDI" type="xs:base64Binary" nillable="true" minOccurs="0" />
<xs:element name="versionCFDI" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="timbraEnviaCFDIBytesSPrimarioResponse">
<xs:sequence>
<xs:element name="return" type="tns:wsGenericResp" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="timbraEnviaCFDIBytes22">
<xs:sequence>
<xs:element name="user" type="xs:string" minOccurs="0" />
<xs:element name="userPassword" type="xs:string" minOccurs="0" />
<xs:element name="certificadoEmisor" type="xs:base64Binary" nillable="true" minOccurs="0" />
<xs:element name="llavePrivadaEmisor" type="xs:base64Binary" nillable="true" minOccurs="0" />
<xs:element name="llavePrivadaEmisorPassword" type="xs:string" minOccurs="0" />
<xs:element name="bytesXmlCFD22" type="xs:base64Binary" nillable="true" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="timbraEnviaCFDIBytes22Response">
<xs:sequence>
<xs:element name="return" type="tns:wsGenericResp" minOccurs="0" />
</xs:sequence>
</xs:complexType>
</xs:schema>